---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{name}}
  namespace: {{namespace}}
  labels:
    "app.kubernetes.io/name": "jenkins"
    "app.kubernetes.io/component": "jenkins-master"
data:
  apply_config.sh: |-
    mkdir -p /usr/share/jenkins/ref/secrets/;
    # creates the job directory
    mkdir -p /var/jenkins_home/jobs/{{job_name}};
    echo "false" > /usr/share/jenkins/ref/secrets/slave-to-master-security-kill-switch;
    # yes n | cp -i /var/jenkins_config/config.xml /var/jenkins_home;
    yes n | cp -i /var/jenkins_config/jenkins.CLI.xml /var/jenkins_home;
    yes n | cp -i /var/jenkins_config/jenkins.model.JenkinsLocationConfiguration.xml /var/jenkins_home;
    # Install missing plugins
    cp /var/jenkins_config/plugins.txt /var/jenkins_home;
    rm -rf /usr/share/jenkins/ref/plugins/*.lock
    /usr/local/bin/install-plugins.sh `echo $(cat /var/jenkins_home/plugins.txt)`;
    # Copy plugins to shared volume
    yes n | cp -i /usr/share/jenkins/ref/plugins/* /var/jenkins_plugins/;
    # copy the configuration file for the job
    yes n | cp -i /var/jenkins_config/job-config.xml /var/jenkins_home/jobs/{{job_name}}/config.xml;

  job-config.xml: |-
    <?xml version='1.1' encoding='UTF-8'?>
    <flow-definition plugin="workflow-job@2.36">
      <description></description>
      <keepDependencies>false</keepDependencies>
      <properties/>
      <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.78">
        <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches>
            <hudson.plugins.git.BranchSpec>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <submoduleCfg class="list"/>
          <extensions/>
        </scm>
        <scriptPath>.agile-cicd/build.Jenkinsfile</scriptPath>
        <lightweight>true</lightweight>
      </definition>
      <triggers/>
      <disabled>false</disabled>
    </flow-definition>


    jenkins.CLI.xml:
    ----
    <?xml version='1.1' encoding='UTF-8'?>
    <jenkins.CLI>
      <enabled>false</enabled>
    </jenkins.CLI>
    jenkins.model.JenkinsLocationConfiguration.xml:
    ----
    <?xml version='1.1' encoding='UTF-8'?>
    <jenkins.model.JenkinsLocationConfiguration>
      <adminAddress></adminAddress>
      <jenkinsUrl>http://jenkins.local</jenkinsUrl>
    </jenkins.model.JenkinsLocationConfiguration>
    plugins.txt:
    ----
    kubernetes:1.21.2
    workflow-job:2.36
    workflow-aggregator:2.6
    credentials-binding:1.20
    git:4.0.0